.root {
    position: fixed;
    top: 0; 
    left: 0;
    height: calc(100vh - 80px); 
    width: 100%;
    direction: ltr;
    user-select: none;
}

.panel {
    height: 100%;
    width: 20%;
    background-color: var(--primary-color10);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    position: sticky;
    top: 0;
}

.panelTitle h1{
    font-size: 48px;
    font-weight: 500;
    color: var(--primary-color60);
}

.panelList{
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    color: var(--secondary-color40);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    background-color: var(--primary-color20);
}

.panelList:hover{
    background-color: var(--primary-color30);
}

.panelList.active{
    background-color: var(--primary-color40);
    color: var(--primary-color60);
}










