.root {
    all: unset;
    cursor: pointer;
}

.container {
    width: 239px;
}

.priceBox {
    border: 1px solid var(--gray-color30);
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    
}

.price {
    margin-bottom: 10px;
    font-size: var(--font-size16);
    font-weight: var(--font-weight-regular);
    display: flex;
    gap: 8px;
}

.priceNumber {
    color: var(--gray-color90);
}

.priceToman {
    color: var(--gray-color50);
}

.numberHandeling {
    border: 1px solid var(--gray-color20);
    border-radius: 12px;
    display: flex;
    gap: 12px;
    padding: 8px;
    justify-content: center;
}

.number {
    color: var(--gray-color90);
    font-size: var(--font-size16);
    font-weight: var(--font-weight-regular);
    text-align: center;
    border: none;
    appearance: none;
    width: 103px;
}

.number:focus {
    outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.shoppingCart {
    background-color: var(--secondary-color60);
    color: var(--gray-color10);
    font-size: var(--font-size14);
    font-weight: var(--font-weight-regular);
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
    display: flex;
    gap: 8px;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.shoppingCart:hover {
    background-color: var(--secondary-color70);
    cursor: pointer;
}


.additionals ul {
    all: unset;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    gap: 6px;
}


.additionals ul li{
    background-color: var(--gray-color20);
    color: var(--gray-color90);
    font-size: var(--font-size14);
    font-weight: var(--font-weight-regular);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    line-height: 30px;
}

.additionals ul li p {
    all: unset;
}

.additionals ul li :first-child {
    border: 1px solid var(--secondary-color40);
    border-radius: 50%;
    padding: 8px;
}