@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap');

.root{
    all: unset;
}

*{
    font-family: var(--font-family);
}


:root {
    
    --font-family: 'Vazirmatn', sans-serif;

    /* primary-colors */
    --primary-color10: #F9F4F1; 
    --primary-color20: #F3E9E4;
    --primary-color30: #E6D3C9;
    --primary-color40: #DABEAE;
    --primary-color50: #CDA893;
    --primary-color60: #C19278;
    --primary-color70: #9D7661;
    --primary-color80: #795B4A;
    --primary-color90: #543F33;

    /* secondary-caolors */
    --secondary-color10: #BEF5E9;
    --secondary-color20: #9AEADA;
    --secondary-color30: #74D6C2;
    --secondary-color40: #4DC1A9;
    --secondary-color50: #27AD91;
    --secondary-color60: #009879;
    --secondary-color70: #007A61;
    --secondary-color80: #005B49;
    --secondary-color90: #003D30;

    /* tertiary-colors */
    --tertiary-color10: #F5F8F5;
    --tertiary-color20: #ECF1EC;
    --tertiary-color30: #D9E2D9;
    --tertiary-color40: #C6D4C5;
    --tertiary-color50: #A0B79F;
    --tertiary-color60: #849883;
    --tertiary-color70: #687867;
    --tertiary-color80: #4C594C;
    --tertiary-color90: #303930;

    /* gray-colors */
    --gray-color10: #FFFFFF;
    --gray-color20: #EDEDED;
    --gray-color30: #D8D8D8;
    --gray-color40: #B0B0B0;
    --gray-color50: #7C7C7C;
    --gray-color60: #4A4A4A;
    --gray-color70: #323232;
    --gray-color80: #242424;
    --gray-color90: #191919;

    /* Font sizes*/
    --font-size32: 32px;
    --font-size28: 28px;
    --font-size22: 22px;
    --font-size18: 18px;
    --font-size16: 16px;
    --font-size14: 14px;
    --font-size12: 12px;

    /* Font weights */
    --font-weight-block: 900;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    /* Shadows */
    --shadow-evevation1: 0px 2px 4px -2px;
    --shadow-evevation2: 0px 4px 6px -4px;
    --shadow-evevation3: 0px 6px 8px -6px;
    --shadow-evevation4: 0px 6px 12px -6px; 
    --shadow-evevation5: 0px 6px 14px -6px;
    --shadow-evevation6: 0px 8px 18px -6px;
    --shadow-evevation7: 0px 8px 22px -6px; 
    --shadow-evevation8: 0px 8px 28px -6px; 
}

