.root {
    all: unset;
}

.selectedImage {
    height: 300px;
    width: 300px;
    position: relative;
    border: 1px solid var(--primary-color60);
    border-radius: 20px;
    padding: 12px;
    overflow: hidden;
}

.selectedImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon {
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.icon :first-child,
.icon :last-child {
    border: 1px solid var(--primary-color30);
    border-radius: 50%;
    padding: 8px;
}

.slider {
    display: flex;
    align-items: center;
    gap: 13px;
    flex: 2;
    padding: 2px 32px;
    margin-top: 19px;
}

.slide {
    display: flex;
    gap: 13px;
    overflow: hidden;
    flex-wrap: nowrap;
}

.slideItem {
    border: 1px solid var(--primary-color60);
    overflow: hidden;
    transition: border-color 0.3s ease;
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

.slideItem img {
    cursor: pointer;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;

}



.handlePrevious,
.handleNext {
    cursor: pointer;
}

.handlePrevious:first-child,
.handleNext:last-child {
    border: 1px solid var(--primary-color60);
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(205, 168, 147, 0.68);
    z-index: 1;
}

.handlePrevious.disabled,
.handleNext.disabled {
    opacity: 0.3;  
    pointer-events: none; 
    cursor: default;
}









